/* Raleway */
.font-header,
.font-header-Raleway .error-title,
.font-header-Raleway .header .header-business-name,
.font-header-Raleway .header .navbar-brand,
.font-header-Raleway .footer .footer-business-name,
.font-header-Raleway .title .title-heading,
.font-header-Raleway .businessinfo .contact-title,
.font-header-Raleway .employees .employees-name,
.font-header-Raleway h5.modal-title,
.font-header-Raleway .gallery .gallery-album-name,
.font-header-Raleway .list .list-text-title,
.font-header-Raleway .productslideshow .productslideshow-title-heading,
.font-header-Raleway .productslideshow .productslideshow-item h3.product-title,
.font-header-Raleway .products .product-title,
.font-header-Raleway .productdetails .productdetails-info-name,
.font-header-Raleway .detailedlist .detailedlist-item-title,
.font-header-Raleway .products .filter-item-title,
.font-header-Raleway .products-loading-container .loader-text,
.font-header-Raleway .productdetails-bottom .nav-tabs .nav-item.nav-link,
.font-header-Raleway .eCommerce .shoppingcart-titles,
.font-header-Raleway h1,
.font-header-Raleway h2,
.font-header-Raleway h3,
.font-header-Raleway h4,
.font-header-Raleway h5,
.font-header-Raleway h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}

.font-header-Raleway .contact-details,
.font-header-Raleway .gallery-img-text,
.font-header-Raleway .employees-title {
    font-family: inherit;
    font-weight: inherit;
}

.font-header-Raleway .contact-title .contact-title-container {
    padding-bottom: .25em;
}

.font-header-Raleway .detailedlist .detailedlist-item-title {
    font-size: 1.7rem;
}

.font-header-Raleway .error-title {
    font-size: 1.9rem;
}

.font-header-Raleway .eCommerce .title-heading .title-cart-count::before {
    margin-right: 2px;
}

.font-header-Raleway .eCommerce .title-heading .title-cart-count::after {
    margin-left: 2px;
}
